.project h1,
.project h2,
.project h3,
.project p {
  margin: 0;
}
.project h1,
.project h2,
.project h3 {
  color: var(--first-color);
  font-family: "Work Sans";
  text-transform: uppercase;
}
.project p {
  font-family: "Manrope";
  font-size: 1.2vw;
  line-height: 1.8vw;
  white-space: pre-line;
}
.project main div p:not(.stack > p) {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vw;
}
.project h2 {
  font-size: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
  margin-bottom: 1vw;
  width: 50vw;
}
.project h2:focus {
  outline: 1px solid var(--first-color);
}
.project main {
  margin-left: 1vmax;
}

.project main > h1 {
  font-size: 3.5vw;

  margin: 0.5vw 0;
  text-transform: uppercase;
}
.project main > .desc {
  width: 60vw;
}
.info-wrapper {
  margin-top: 2vw;
  display: flex;
  align-items: flex-start;
}
.info-wrapper * {
  margin: 0 3vw;
}
.stack {
  width: 5vw;
  height: 10vw;
}
.stack > h3 {
  font-size: 1.5vw;
  margin: 0.5vmax 0;
}
.stack p {
  color: var(--second-color);
  margin: 0.3vmax 0;
  font-family: "Manrope";
}
.button-link {
  padding: 1vw;
  font-size: 2vw;
  margin: 1vw;
  background: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.website {
  border: 1px solid var(--first-color);
  color: var(--first-color);
  transition: background 0.2s ease-in, box-shadow 0.2s ease-in,
    color 0.2s ease-in;
}
.website:hover,
.website:focus {
  color: white;
  background: var(--first-color);
  box-shadow: 0 0 0.5vmax var(--first-color), 0 0 1.2vmax var(--first-color),
    0 0 2.5vmax var(--first-color);
  -moz-box-shadow: 0 0 0.5vmax var(--first-color),
    0 0 1.2vmax var(--first-color), 0 0 2.5vmax var(--first-color);
}
.github {
  border: 1px solid #de38c8;
  color: #de38c8;
  transition: background 0.2s ease-in, box-shadow 0.2s ease-in,
    color 0.2s ease-in;
}
.github:hover,
.github:focus {
  color: white;
  background: #de38c8;
  box-shadow: 0 0 0.5vw #de38c8, 0 0 1.2vw #de38c8, 0 0 2.5vw #de38c8;
  -moz-box-shadow: 0 0 0.5vw #de38c8, 0 0 1.2vw #de38c8, 0 0 2.5vw #de38c8;
}
video.mockupImg {
  margin-bottom: 3vw;
}
video.mockupImg:focus {
  outline: 1px solid white;
}
.mockupImg {
  margin: 0 auto;
  display: block;
  width: 70vw;
}

.project div > p {
  width: 50vw;
}
.home-button {
  border: 1px solid var(--second-color);
  color: var(--second-color);
  transition: background 0.2s ease-in, box-shadow 0.2s ease-in,
    color 0.2s ease-in;
}
.home-button:hover,
.home-button:focus {
  color: white;
  background: var(--second-color);
  box-shadow: 0 0 0.5vmax var(--second-color), 0 0 1.2vmax var(--second-color),
    0 0 2.5vmax var(--second-color);
  -moz-box-shadow: 0 0 0.5vmax var(--second-color),
    0 0 1.2vmax var(--second-color), 0 0 2.5vmax var(--second-color);
}

@media screen and (max-width: 1100px) {
  .project main > h1 {
    font-size: 5vw;
  }
  .stack {
    width: 10vw;
    height: 20vw;
  }
  .project main > .desc {
    width: 90vw;
  }
  .project div > p {
    width: 90vw;
  }
  .info-wrapper * {
    margin: 0 6vw;
  }
  .project p {
    font-size: 3.5vw;
    line-height: 4vw;
  }
  .project h2 {
    font-size: 4.5vw;
    width: 90vw;
  }
  .mockupImg {
    width: 100vw;
  }
  .stack > h3 {
    font-size: 4vw;
  }
  .button-link {
    padding: 3vw;
    font-size: 3.5vw;
    margin: 3vw;
    background: none;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }
}
