@mixin fsize($size){
	&{
		font-size:$size;
	}
}

@media (min-width:2560px) and (max-width:2560px) {
	.menu > div{
  		@include fsize(40px)
	}
	.baseDivSkills,.educationWrapper,.projectWrapper,.projectElem>P{
		@include fsize(35px)
	}
	.title,.projectTitle,.title-footer{
		@include fsize(3em)
	}
	.hello-text{
		@include fsize(4em)
	}
	.contact-icon{
		width:80px;
		height:80px;
	}
	.projectWrapper > svg{
		width:45px;
		height:45px;
	}
		.englishLevelTextWrapper>p{
  		left: 33px;
    @include fsize(25px)
	}
	.nom {
		width:20vw;
	}
	.progressBar>div:last-of-type{
		font-size:18px;
	}

}    

@media screen and (max-width:1920px){
.menu > div{
  		@include fsize(30px)
	}
	.englishLevelTextWrapper > p{
		@include fsize(16px)
	}
	.progressBar > div:nth-child(2){
		@include fsize(16px)
	}
	.nom {
		width:19vw;
	}
}
@media screen and (max-width:1680px){
	.menu > div{
  		@include fsize(24px)
	}
	.englishLevelTextWrapper>p{
  		@include fsize(14px)
	}
	.nom {
    width: 21vw;
}
}

@media screen and (max-width:1440px) {
	.menu > div, .baseDivSkills{
		font-size:17px;
	}
	.menu > div >a {
		padding:9px;
	}
	.englishLevelTextWrapper>p{
  		@include fsize(14px)
	}
	.nom {
		width:25vw;
	}
	.englishLevelTextWrapper > p {
    font-size: 12px;
}
}
@media screen and (max-width:1366px){
	.menu > div{
  		@include fsize(18px)
	}
	.englishLevelTextWrapper>p{
  		left: 28px;
	}
	.nom {
		width:26vw;
	}
}
@media screen and (max-width:1280px){
	.menu > div{
	  		@include fsize(16px)
		}
		.baseDivSkills{
			@include fsize(18px)
		}
		.projectWrapper{
			@include fsize(20px)
		}
		.englishLevelTextWrapper>p{
  		@include fsize(12px)
	}
}

@media (max-height:600px) and (max-width:1280px){
	.menu > div,.baseDivSkills,.projectWrapper{
		@include fsize(16px)
	}
}

@media screen and (max-width:414px){
	.svg-inline--fa.fa-w-14 {
		width:3.5vw;
	}
	.menu > svg{
		height:7.5vw;
	}
	.menu > div{
		@include fsize(10px);
	}
	.hello-text{
		@include fsize(23px);
	}
	.baseDivSkills{
		@include fsize(15px);
	}
	.wrapperDivSkills{
		grid-template-columns:none;
		grid-template-rows:none;
		grid-template-areas:
        'a'
        'b'
        'd';
	}
	.wrapperDivSkills>.baseDivSkills{
		max-width: 80vw;
    	width: 80vw;
	}
	.wrapperDivSkills>div:first-of-type{
		height:50vh;
	}
	.aboutMeWrapper>div{
		max-width:56vw;
		width:56vw;
	}
	.nextDiv{
		display:none;
	}
	.education{
		@include fsize(12px);
	}
	#skills{
		height:155vh;
	}
	#skills > .container {
		height:150vh;
	}
	.projectTitle{
		@include fsize(1em);
	}
	.projectTitle:last-of-type{
		left: 50%;
	}
	.projectWrapper{
		@include fsize(15px);
		display:grid;
		grid-template-columns:repeat(2,1fr);
	}
	.projectWrapper .projectElem {
		font-size: 18px;
		width: 15vh;
    	height: 18vh;
    	margin: 20px;
	}
	.title-footer{
		@include fsize(1em);
	}
	.contact-icon{
		width:30px;
		height:30px;
	}
	.progressBar {
		width:30vw;
	}
	.englishLevelTextWrapper>p{
  		@include fsize(10px)
	}
	.nom {
    width: 44vw;
}
}

@media screen and (max-width:375px){
	.menu > div {
	    font-size: 8px;
	}
	.hello-text {
	    font-size: 21px;
	}
	.baseDivSkills {
	   @include fsize(13px)
	}

	.projectTitle:nth-child(1) {
	    right: 55%;
	}
	.projectTitle:last-of-type {
	    left: 47%;
	}
	.projectWrapper {
		@include fsize(12px)
	}
	.englishLevelTextWrapper>p{
  		@include fsize(9px);
  		left:26px;
	}
}

@media screen and (max-width:360px){
	.baseDivSkills {
	   @include fsize(12px)
	}
	.menu > div {
	    font-size: 8px;
	}
	.menu > div {
		@include fsize(8px)
	}
	.projectWrapper {
		@include fsize(12px)
	}
	.projectTitle {
		@include fsize(0.8em)
	}
	.progressBar {
		width:30vw;
	}
	.projectWrapper .projectElem {
	    width: 20vh;
	    height: 22vh;
	}
	.projectWrapper .projectElem:hover {
	    @include fsize(21px)
	}
	.hello-text {
	    font-size: 21px;
	}
	.englishLevelTextWrapper>p{
  		@include fsize(8px);
  		left:26px;
	}
	.nom {
    width: 46vw;
}
}