@import 'Home-Theme';

@mixin WH($wh) {
  width: $wh;
  height: $wh;
}

@mixin flexJustify() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: 'Montserrat';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

.grid {
  width: 98%;
  height: 98%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: radial-gradient(circle, rgba(84, 22, 178, 1) 0%, rgba(21, 0, 53, 1) 100%);
  z-index: 0;
}

.main:before {
  content: '';
  mask-image: url("../assets/background.svg");
  background-color: var(--themeColor);
  mask-repeat:no-repeat;
  mask-size:cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color:blue;
  position: absolute;
  transition:background-color 0.5s
}

.popper{
    position: absolute;
    bottom: 3em;
    z-index: 10;
    text-align: center;
    color: white;
    background: #222222;
    box-shadow: 0 2px 10px 0px black;
    padding: 0.5em 0.5em;
    font-weight: lighter;

}

.grid {
  grid-template-columns: (100vw/1.618)-1vw ((100vw-(100vw/1.618))/2)-1vw ((100vw-(100vw/1.618))/2)-1vw;
  grid-template-rows: 48vh 23vh 23vh;
  grid-template-areas:
    "a b b"
    "a e c"
    "a d c";
  gap: 0.5vw;
  display: grid;
  place-content: center;
}

.container {
  @include WH(100%);
  @include flexJustify();
  flex-direction: column;

  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}

.h > .blur {
  background:none;
}

.h > .noblur {
  background:none;
}
.blur{
  background: $backgroundColor;
  backdrop-filter:blur(10px);
  transition:background 0.5s ease;
}
.noblur{
  background:$backgroundColorFull;
  backdrop-filter:none;
  transition:background 0.5s ease;
}

.container-element {
  background: $containerColor;
  padding: 0 0.88em 0.88em 0.88em;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.contact-container {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: default;
}

.containerParent {
  @include flexJustify();
}

.logo {
  height: 3.13em;
  width: auto;
}

.bottom-section>.contact-icon {
  width: 100%;

  &:hover {
    background: rgba(142, 54, 255, 0.6);
    border-radius: 5px;
    cursor: pointer;
  }
}

.contact-icon>svg {
  height: 3.13em;
  width: 3.13em;
  fill: var(--themeColor);
  transition:fill 0.5s ease;
}

.title {
  font-size: 1.5em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  pointer-events: none;
}

.sub-title {
  color: var(--themeColor);
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  padding: 0.7em 0;
  position:relative;

  &::before {
    content: '';
    width: 4em;
    height: 3px;
    background: var(--themeColor);
    left: 0;
    position: absolute;
    border-radius: 1em;
    margin: 0.5em;
  }

  &-ul {
    @extend .sub-title;

    &::before {
      content: none;
    }

    text-transform: none;
    display:block;

    &>ul {
      list-style: none;
    }
  }

  &-skills {
    @extend .sub-title;
    font-size: 1.3em;
    justify-content: center;

    &::before {
      content: none;
    }
  }

  &-lang {
    @extend .sub-title;
    font-size: 1.2em;
    justify-content: flex-start;
    padding-top: 1em;

    &::before {
      content: none;
    }
  }
}

.education-name {
  font-size: 1.2em;
  color: white;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &>a {
    margin: 0 2vw;
  }
}


.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &>a {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: lighter;

    &>svg {
      margin: 0 0.5em;
    }
  }
}

.text {
  font-size: 1em;
  color: white;
}

.sub-wrapper {
  width: 95%;

  &-it {
    @extend .sub-wrapper;
  }

  &-lang {
    @extend .sub-wrapper;
    margin-left: 2.1em;
  }
}

.to {
  height: 100%;
  width: 2em;
  background: darken($containerColor, 5%);
  position: absolute;
  display: grid;
  z-index: 1500;
  cursor: pointer;
  bottom:0;
  place-content: center;

  &-next {
    @extend .to;
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &-previous {
    @extend .to;
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &>svg {
      transform: rotateY(180deg);
    }
  }

  &>svg {
    fill: white;
    width: 1.5em;
    pointer-events: none;
  }
}

.inline-wrapper {
  display: flex;
  width: inherit;
  height: inherit;
  overflow: hidden;
  position:relative;
}

.visible-it-clip-path {
  transition: clip-path 0.5s ease;
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  width: 100%;
  padding: 0 0.88em 0.88em 0.88em;
}

.hidden-it-clip-path {
  transition: clip-path 0.5s ease;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  width: 0;
  padding: 0;
}

.hidden-lang-clip-path {
  transition: clip-path 0.5s ease;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  width: 0;
  padding: 0;
}

.visible-lang-clip-path {
  transition: clip-path 0.5s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  width: 100%;
  padding: 0 0.88em 0.88em 0.88em;
}

.root-container-clip-path{
  transition: clip-path 0.5s ease;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.root-visible-container-clip-path {
  transition: clip-path 0.5s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container-clip-path {
  transition: clip-path 0.5s ease, height 0.5s ease;
  height: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.visible-container-clip-path {
  transition: clip-path 0.5s ease, height 0.5s ease;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 2.75em;
}



.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.30em;
  width: 2.30em;
  inset: 0.15em;
  margin-left: 0.2em;
  background: var(--themeColor);
  transition:background 0.5s ease;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background: var(--themeColor);

  &:before {
    background: white;
  }
}

input:checked+.slider:before {
  transform: translateX(1.9em);
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.e {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "f g"
    "f h";
  grid-area: e;
  gap: 0.5vw;
  place-content: center;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}

.d {
  grid-area: d;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}
