  <div class="main" ref="main" theme="basic">
    <p class="popper" ref="popper" hidden>Test</p>
    <div class="grid">
      <div class="aboutMe a containerParent">
        <div class="container root-container-clip-path blur" ref="aboutMe" @click="showContainerElement">
          <p class="title">à propos de moi</p>
          <div class="container-element container-clip-path">
            <p class="text" style="white-space: pre-wrap;">{{aboutMe.about}}</p>
            <p class="sub-title">centres d'intérêt</p>
            <ul class="sub-title-ul">Art
              <ul>
                <li class="text">Dessin</li>
                <li class="text">Graphisme</li>
                <li class="text">Musique</li>
              </ul>
            </ul>
            <ul class="sub-title-ul">Autre
              <ul>
                <li class="text">Manga, Animation Japonaise</li>
              </ul>
            </ul>
            <ul class="sub-title-ul">Sport
              <ul>
                <li class="text">Capoeira (6 ans)</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="skills b containerParent">
        <div class="container root-container-clip-path blur" ref="skills" @click="showContainerElement">
          <p class="title">compétences</p>
          <div class="inline-wrapper container-clip-path">
            <div class="visible-it-clip-path container-element">
              <span class="to to-next" ref="toNext" @click="toNext">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M21 12l-18 12v-24z" /></svg>
              </span>
              <p class="sub-title-skills">Informatique</p>
              <div class="sub-wrapper-it">
                <p class="sub-title">Experimenté</p>
                <div>
                  <img class="logo" v-for="s in skills['langage-it-exp']" :key="s" :src="require('@/assets/'+s.image)" />
                </div>
                <div>
                  <p class="sub-title">Familier</p>
                  <div>
                    <img class="logo" v-for="s in skills['langage-it-fam']" :key="s" :src="require('@/assets/'+s.image)" />
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden-lang-clip-path container-element">
              <span class="to to-previous" ref="toPrevious" @click="toPrevious">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M21 12l-18 12v-24z" /></svg>
              </span>
              <p class="sub-title-skills">Langue</p>
              <div class="sub-wrapper-lang">
                <span v-for="s in skills['langage']" :key="s">
                  <p class="sub-title-lang">{{s.name}}</p>
                  <p class="text">{{s.level}}</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="formations c containerParent">
        <div class="container root-container-clip-path blur" ref="formations" @click="showContainerElement">
          <p class="title">formations</p>
          <div class="container-element container-clip-path">
            <span v-for="e in education['school']" :key="e">
              <p class="sub-title">{{e.date}}</p>
              <p class="education-name">{{e.name}}</p>
              <p class="text">{{e.where}}</p>
            </span>
          </div>
        </div>
      </div>
      <div id="contact-section" class="contact d containerParent">
        <div class="container root-container-clip-path blur" ref="contact" @click="showContainerElement" style="z-index:100;">
          <p class="title">contact</p>
          <div class="contact-container container-clip-path" style="z-index:500;">
            <span class="top-section">
              <a href="https://www.linkedin.com/in/quentinlevenard/" class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z" />
                </svg>
              </a>
              <a href="https://github.com/Hanasagi" class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                </svg>
              </a>
            </span>
            <span class="bottom-section">
              <a class="contact-icon" ref="contact_icon1" @click="copyToClipboard"><svg viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path d="M17 2.86165C24.8115 2.86165 31.1667 9.21682 31.1667 17.0283C31.1667 24.8398 24.8115 31.195 17 31.195C9.1885 31.195 2.83333 24.8398 2.83333 17.0283C2.83333 9.21682 9.1885 2.86165 17 2.86165ZM17 0.0283203C7.61175 0.0283203 0 7.64007 0 17.0283C0 26.4166 7.61175 34.0283 17 34.0283C26.3882 34.0283 34 26.4166 34 17.0283C34 7.64007 26.3882 0.0283203 17 0.0283203ZM17 17.8075L8.51133 11.3333H25.4872L17 17.8075ZM17 19.6322L8.5 13.0744V22.6667H25.5V13.0744L17 19.6322Z" />
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="34" height="34" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                quentin.levenard@gmail.com
              </a>
              <a class="contact-icon" ref="contact_icon2" @click="copyToClipboard"><svg viewBox="0 0 33 33" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.5 2.75C24.0817 2.75 30.25 8.91825 30.25 16.5C30.25 24.0817 24.0817 30.25 16.5 30.25C8.91825 30.25 2.75 24.0817 2.75 16.5C2.75 8.91825 8.91825 2.75 16.5 2.75ZM16.5 0C7.38788 0 0 7.38788 0 16.5C0 25.6121 7.38788 33 16.5 33C25.6121 33 33 25.6121 33 16.5C33 7.38788 25.6121 0 16.5 0ZM22.6875 23.8026L20.2675 19.1318L18.8485 19.8261C17.3085 20.5728 14.1735 14.4499 15.6791 13.6427L17.1119 12.9374L14.7098 8.25L13.2619 8.965C8.3105 11.5459 16.1727 26.8276 21.2369 24.5135L22.6875 23.8026Z" />
                </svg>
                06 44 73 86 25
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="e">
        <div class="project f containerParent">
            <router-link style="width: 100%;height: 100%;" to="/project">
              <div class="container root-container-clip-path blur" ref="project"><p class="title">projets</p></div></router-link>
        </div>
        <div class="cv g containerParent">
          <div class="container root-container-clip-path blur" ref="cv">
            <p class="title">cv pdf</p>

            <a v-bind:href="`${publicPath}CV.pdf`" download="CV - Quentin Levenard.pdf" class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M6 13h4v-7h4v7h4l-6 6-6-6zm16-1c0 5.514-4.486 10-10 10s-10-4.486-10-10 4.486-10 10-10 10 4.486 10 10zm2 0c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12z" /></svg></a>
          </div>
        </div>
        <div class="h containerParent">
          <div class="container root-container-clip-path" ref="switch_button">
            <div ref="switch_input">
              <label class="switch" >
                <input type="checkbox" style="visibility: hidden;" @click="disableBlur" checked>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="mobile-end-whitespace" hidden></div>
      </div>
    </div>
      <div class="mobile-bottom-menu" hidden>
    <a class="mobile-bottom-menu-button" @click="scrollToContact">Contact</a>
    <div class="mobile-bottom-menu-switch">
      <label class="switch-mobile">
        <input type="checkbox" style="visibility: hidden;" @click="disableBlur" checked>
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  </div>

