<div class="main">
    <div class="menu" ref="menu">
        <i class="fas fa-bars"></i>
        <div>
            <a href="#about-me">À propos de moi</a>
            <a href="#skills">Compétences</a>
            <a href="#education">Formations</a>
            <a href="#project">Projets</a>
            <a href="#contact">Contact</a></div>
    </div>
    <div class="nextDivButtonWrapper">    
        <button class="buttontoNextDiv" style="top:94vh"><a href="#about-me"><i class="nextDiv fas fa-arrow-down" ></i></a></button>
        <button class="buttontoNextDiv" style="top:194vh"><a href="#skills"><i class="nextDiv fas fa-arrow-down" ></i></a></button>
        <button class="buttontoNextDiv" style="top:294vh"><a href="#education"><i class="nextDiv fas fa-arrow-down" ></i></a></button>
        <button class="buttontoNextDiv" style="top:394vh"><a href="#project"><i class="nextDiv fas fa-arrow-down" ></i></a></button>
        <button  class="buttontoNextDiv" style="top:494vh"><a href="#contact"><i class="nextDiv fas fa-arrow-down" ></i></a></button>
    </div>
    <header ref="hello" class="hello">
        <div>
        <div class="hello-text">Bonjour, je suis  
            <div ref="nom" class="nom"> Quentin Levenard</div>
        </div>
    </div>
    </header>
    <div ref="about-me" id="about-me">
        <div class="container" ref="container1">
            <p class="title">À PROPOS DE MOI</p>
            <div class="aboutMeWrapper">
                <div class="baseDivSkills">
                    <p ref="aboutMeText"></p>
                </div>
                <div class="baseDivSkills interestList">
                    <p class="subTitle">CENTRES D'INTÉRÊTS</p>
                    <ul>
                        <ul>Art
                            <li>Graphisme</li>
                            <li>Musique</li>
                            <li>Dessin</li>
                        </ul>
                        <ul class="subElem">Autre
                            <li>Manga, Anime</li>
                        </ul>
                        <ul class="subElem">Sport
                            <li>Capoeira (6 ans)</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
    <div ref="skills" id="skills">
        <div class="container" ref="container2">
            <p class="title">COMPETENCES</p>
            <div class="wrapperDivSkills" ref="wrapperDivSkills">
                <div class="baseDivSkills" style="grid-area: a / a / a / a;">
                    <div><span class="biggerTitle">Experimentée</span>
                    <div>Langage
                        
                    </div>
                    <img class="imgIT" v-for="s in skills['language-it-exp']" :key="s" :src="require('../assets/'+s.image)"/>
                    </div>
                    <div><span class="biggerTitle">Familier</span>
                    <div>Langage
                        
                    </div>
                    <img class="imgIT" v-for="s in skills['langage-it-fam']" :key="s" :src="require('../assets/'+s.image)"/>
                    <div>Framework
                        
                    </div>
                    <img class="imgIT" v-for="s in skills['framework']" :key="s" :src="require('../assets/'+s.image)"/>
                    </div>
                </div>
                <div class="baseDivSkills" style="grid-area: b / b / b / b;">
                    <div class="gridSkills" ref="gridSkills">
                    
                    </div>
                </div>
                <div class="baseDivSkills" style="grid-area: d / d / d / d;">
                    <div><span class="biggerTitle">Familier</span>
                        <div>Autre</div>
                    <img class="imgIT" v-for="s in skills['other']" :key="s" :src="require('../assets/'+s.image)"/>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    <div ref="education" id="education">
        <div class="container" ref="container3">
            <p class="title">FORMATIONS</p>
        </div>
        
    </div>
    <div ref="project" id="project">
        <div class="container" ref="container4">
            <div class="titleDiv">
                <p class="projectTitle" ref="projectTitle">PROJETS</p>
            </div>
            <div class="projectWrapper" ref="schoolProject">
            </div>
        </div>
        
    </div>
    <footer id="contact">
        <div class="myCVdiv">
            <p class="title-footer">MON CV PDF</p>
            <a v-bind:href="`${publicPath}CV.pdf`" download class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 13h4v-7h4v7h4l-6 6-6-6zm16-1c0 5.514-4.486 10-10 10s-10-4.486-10-10 4.486-10 10-10 10 4.486 10 10zm2 0c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12z"/></svg></a>
        </div>
        <div class="contactDiv">
            <p class="title-footer">CONTACT</p>
            <a href="https://www.linkedin.com/in/quentinlevenard/" class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z"/></svg></a>
            <a href="mailto:quentin.levenard@gmail.com" class="contact-icon"></a>
            <a href="https://github.com/Hanasagi" class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
        </div>
    </footer>
    <svg id="closeButton" class="closeButton" style="display:none;" width="24" height="24" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M 500 0C 224 0 0 224 0 500C 0 776 224 1000 500 1000C 776 1000 1000 776 1000 500C 1000 224 776 0 500 0C 500 0 500 0 500 0 M 253 677C 242 666 242 652 253 641C 253 641 394 500 394 500C 394 500 253 359 253 359C 242 348 242 334 253 323C 253 323 323 253 323 253C 334 242 348 242 359 253C 359 253 500 394 500 394C 500 394 641 253 641 253C 652 242 666 242 677 253C 677 253 747 323 747 323C 758 334 758 348 747 359C 747 359 606 500 606 500C 606 500 747 641 747 641C 758 652 758 666 747 677C 747 677 677 747 677 747C 666 758 652 758 641 747C 641 747 500 606 500 606C 500 606 359 747 359 747C 348 758 334 758 323 747C 323 747 253 677 253 677"></path></svg>
</div>