:root{
    --background-color: #11000F;
    --main-gradient: linear-gradient(133deg, #FFD300 39%, #DE38C8 50%, #652EC7 64%);
    --first-color: #FFD300;
    --second-color: #652EC7;
}
[theme="second"]{
    --main-gradient: linear-gradient(130deg, #3B27BA 0%, #E847AE 50%, #13CA91 65%);
    --first-color: #3B27BA;
    --second-color: #13CA91;
}
[theme="third"]{
	--main-gradient: linear-gradient(133deg, #5CE8E4 39%, #F54D9C 50%, #E9265A 64%);
    --first-color: #5CE8E4;
    --second-color: #E9265A;
}
[theme="fourth"]{
	--main-gradient: linear-gradient(133deg, #FDF341 41%, #80FF01 51%, #FB33DA 59%);
    --first-color: #FDF341;
    --second-color: #FB33DA;
}
[theme="fifth"]{
    --main-gradient: linear-gradient(133deg, #3DB8FC 43%, #B537F1 51%, #8A2BE1 59%);
    --first-color: #3DB8FC;
    --second-color: #8A2BE1;
}

.orangered:hover{
    border: 1px solid orangered;
    background: orangered;
    box-shadow: 0 0 0.5vw orangered,  0 0 1.2vw orangered, 0 0 2.5vw orangered;
}
.orange:hover{
    border: 1px solid orange;
    background: orange;
    box-shadow: 0 0 0.5vw orange,  0 0 1.2vw orange, 0 0 2.5vw orange;
}
.skillsElement:hover>p{
    color: white;
}
.darkgreen:hover{
border: 1px solid darkgreen;
    background: darkgreen;
    box-shadow: 0 0 0.5vw darkgreen,  0 0 1.2vw darkgreen, 0 0 2.5vw darkgreen;
    -moz-box-shadow: 0 0 0.5vw darkgreen,  0 0 1.2vw darkgreen, 0 0 2.5vw darkgreen;
}
.pink:hover{
border: 1px solid pink;
    background: pink;
    box-shadow: 0 0 0.5vw pink,  0 0 1.2vw pink, 0 0 2.5vw pink;
    -moz-box-shadow: 0 0 0.5vw pink,  0 0 1.2vw pink, 0 0 2.5vw pink;
}
.aqua:hover{
border: 1px solid aqua;
    background: aqua;
    box-shadow: 0 0 0.5vw aqua,  0 0 1.2vw aqua, 0 0 2.5vw aqua;
    -moz-box-shadow: 0 0 0.5vw aqua,  0 0 1.2vw aqua, 0 0 2.5vw aqua;
}
.greenyellow:hover{
border: 1px solid greenyellow;
    background: greenyellow;
    box-shadow: 0 0 0.5vw rgb(22, 24, 19),  0 0 1.2vw greenyellow, 0 0 2.5vw greenyellow;
    -moz-box-shadow: 0 0 0.5vw greenyellow,  0 0 1.2vw greenyellow, 0 0 2.5vw greenyellow;
}
.blueviolet:hover{
border: 1px solid blueviolet;
    background: blueviolet;
    box-shadow: 0 0 0.5vw blueviolet,  0 0 1.2vw blueviolet, 0 0 2.5vw blueviolet;
    -moz-box-shadow: 0 0 0.5vw blueviolet,  0 0 1.2vw blueviolet, 0 0 2.5vw blueviolet;
}
.red:hover{
border: 1px solid red;
    background: red;
    box-shadow: 0 0 0.5vw red,  0 0 1.2vw red, 0 0 2.5vw red;
    -moz-box-shadow: 0 0 0.5vw red,  0 0 1.2vw red, 0 0 2.5vw red;
}
.yellow:hover{
border: 1px solid yellow;
    background: yellow;
    box-shadow: 0 0 0.5vw yellow,  0 0 1.2vw yellow, 0 0 2.5vw yellow;
    -moz-box-shadow: 0 0 0.5vw yellow,  0 0 1.2vw yellow, 0 0 2.5vw yellow;
}
.ligthblue:hover{
border: 1px solid lightblue;
    background: lightblue;
    box-shadow: 0 0 0.5vw lightblue,  0 0 1.2vw lightblue, 0 0 2.5vw lightblue;
    -moz-box-shadow: 0 0 0.5vw lightblue,  0 0 1.2vw lightblue, 0 0 2.5vw lightblue;
}
.indianred:hover{
border: 1px solid indianred;
    background: indianred;
    box-shadow: 0 0 0.5vw indianred,  0 0 1.2vw indianred, 0 0 2.5vw indianred;
    -moz-box-shadow: 0 0 0.5vw indianred,  0 0 1.2vw indianred, 0 0 2.5vw indianred;
}
.blue:hover{
border: 1px solid blue;
    background: blue;
    box-shadow: 0 0 0.5vw blue,  0 0 1.2vw blue, 0 0 2.5vw blue;
    -moz-box-shadow: 0 0 0.5vw blue,  0 0 1.2vw blue, 0 0 2.5vw blue;
}